<hr class="divideTitle" />

<div [formGroup]="form" class="my-5 space-y-4 px-8">
  <!-- Recomendado por -->
  <div>
    <label class="block mb-1">¿Qué persona le recomendó nuestros servicios?
    </label>
    <input 
      formControlName="recomendadoPor"
      type="text"
      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <!-- Plataforma -->
  <div>
    <div class="d-flex gap-1">
      <label class="block mb-1">¿Desde qué plataforma se enteró de nosotros?
      </label>
      <span class="text-red-500">*</span>
    </div>
    <select
      formControlName="plataforma"
      class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="" disabled selected>Seleccione una opción</option>
      <option *ngFor="let opcion of plataformas" [value]="opcion">{{ opcion }}</option>
    </select>
    <div *ngIf="form.get('plataforma')?.invalid && form.get('plataforma')?.touched" class="text-red-500 text-sm">
      Este campo es obligatorio.
    </div>
  </div>

  <!-- <span class="text-sm text-red-500 block mx-auto mt-6"> * Campos obligatorios</span> -->

</div>
<hr class="divideTitle" />
