<hr class="divideTitle">

<div *ngIf="form" [formGroup]="form" class="space-y-6">

  <!-- Cédula -->
  <div class="form-group">
    <label class="form-label">Cargar Cédula (Imagen o PDF) <span class="text-danger">*</span></label>
    <input
     #cedulaInput
      type="file"
      accept=".jpg,.jpeg,.png,.pdf"
      class="form-control"
      (change)="onFileChange($event, 'cedulaFile')"
    />
    <div *ngIf="form.get('cedulaFile')?.errors?.['required'] && form.get('cedulaFile')?.touched" class="text-danger mt-1">
      Este archivo es obligatorio.
    </div>
    <div *ngIf="form.get('cedulaFile')?.errors?.['invalidType'] && form.get('cedulaFile')?.touched" class="text-danger mt-1">
      Formato no válido. Solo se permiten JPG, PNG o PDF.
    </div>
    <div *ngIf="filePreviews?.['cedulaFile']">
      <img *ngIf="filePreviews['cedulaFile'] !== 'pdf'" [src]="filePreviews['cedulaFile']" alt="Vista previa Cédula" class="img-thumbnail mt-2" style="max-height: 150px;" />
      <div *ngIf="filePreviews['cedulaFile'] === 'pdf'" class="mt-2 text-green-600">Archivo PDF seleccionado</div>
      <button
        type="button"
        class="btn btn-outline-danger btn-sm mt-2"
        (click)="eliminarArchivo('cedulaFile')"
      >
        Eliminar archivo
      </button>
        
    </div>
  </div>

  <!-- Selfie -->
  <div class="form-group">
    <label class="form-label">Carga Selfie</label>
    <input
      #selfieInput
      type="file"
      accept=".jpg,.jpeg,.png,.pdf"
      class="form-control"
      (change)="onFileChange($event, 'selfieFile')"
    />
    <div *ngIf="form.get('selfieFile')?.errors?.['invalidType'] && form.get('selfieFile')?.touched" class="text-danger mt-1">
      Formato no válido. Solo se permiten JPG, PNG o PDF.
    </div>

    <div *ngIf="filePreviews?.['selfieFile']">
      <img *ngIf="filePreviews['selfieFile'] !== 'pdf'" [src]="filePreviews['selfieFile']" alt="Vista previa Selfie" class="img-thumbnail mt-2" style="max-height: 150px;" />
      <div *ngIf="filePreviews['selfieFile'] === 'pdf'" class="mt-2 text-green-600">Archivo PDF seleccionado</div>
      <button type="button" class="btn btn-outline-danger btn-sm mt-2" 
      (click)="eliminarArchivo('selfieFile')"
      >Eliminar archivo</button>
    </div>
  </div>

  <!-- RIF -->
  <div class="form-group">
    <label class="form-label">Cargar RIF</label>
    <input
      #rifInput
      type="file"
      accept=".jpg,.jpeg,.png,.pdf"
      class="form-control"
      (change)="onFileChange($event, 'rifFile')"
    />
    <div *ngIf="form.get('rifFile')?.errors?.['invalidType'] && form.get('rifFile')?.touched" class="text-danger mt-1">
      Formato no válido. Solo se permiten JPG, PNG o PDF.
    </div>
    <div *ngIf="filePreviews?.['rifFile']">
      <img *ngIf="filePreviews['rifFile'] !== 'pdf'" [src]="filePreviews['rifFile']" alt="Vista previa RIF" class="img-thumbnail mt-2" style="max-height: 150px;" />
      <div *ngIf="filePreviews['rifFile'] === 'pdf'" class="mt-2 text-green-600">Archivo PDF seleccionado</div>
      <button type="button" class="btn btn-outline-danger btn-sm mt-2" 
      (click)="eliminarArchivo('rifFile')" 
      >Eliminar archivo</button>

    </div>
  </div>

</div>
