<div [formGroup]="form">
    <label>Primer Nombre:</label>
    <input formControlName="primerNombre" type="text">
  
    <label>Segundo Nombre:</label>
    <input formControlName="segundoNombre" type="text">
  
    <label>Primer Apellido:</label>
    <input formControlName="primerApellido" type="text">
  
    <label>Segundo Apellido:</label>
    <input formControlName="segundoApellido" type="text">
  
    <label>Cédula:</label>
    <input formControlName="cedula" type="text">
  
    <label>Email:</label>
    <input formControlName="email" type="email">
  </div>
  