<app-header></app-header>

<div class="max-w-3xl mx-auto my-3  bg-white shadow-md rounded-lg">
  <h2 class="text-3xl !font-semibold text-center !text-gray-700 !m-0 pt-9">Formulario de Registro</h2>

  <hr class="divideTitle">
  
  <form [formGroup]="form" (ngSubmit)="enviarFormulario()" enctype="multipart/form-data" class="!pt-4 !pb-6 ">
    <app-datos-personales [form]="form" />
  
    <app-documentos [form]="form" [onFileChange]="onFileChange.bind(this)" [filePreviews]="filePreviews" [removeFile]="removeFile.bind(this)"/>
  
    <app-direccion [estados]="estados" [codigos]="codigos" />
  
    <app-informacion-adicional [niveles]="nivelesAcademicos"  [form]="form"  [ingresos]="ingresos" [onFileChange]="onFileChange.bind(this)" [colecciones]="colecciones"
    />

    <!-- <app-informacion-adicional [niveles]="nivelesAcademicos"  [form]="form"  [ingresos]="ingresos" [onFileChange]="onFileChange.bind(this)" [colecciones]="colecciones"
    [toggleColeccion]="toggleColeccion.bind(this)" /> -->
  
    <app-extras [form]="form" />

    <span class="text-sm text-red-500 block mx-auto px-8"> * Campos Obligatorios</span>

    <button 
    type="submit"
    class="block mx-auto !my-7  bg-amber-600 hover:bg-amber-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-200"
  >
    Enviar Formulario
    </button>
    </form>
  
</div>
