<app-header></app-header>

<div class="max-w-3xl mx-auto my-3  bg-white shadow-md rounded-lg">
  <h2 class="text-3xl !font-semibold text-center !text-gray-700 !m-0 pt-9">Formulario de Registro</h2>

  <hr class="divideTitle">
  <form [formGroup]="form" (ngSubmit)="enviarFormulario()" enctype="multipart/form-data" class="px-8 !pt-4 !pb-6 ">
    <app-datos-personales [form]="form" />
  
    <app-documentos [form]="form" [onFileChange]="onFileChange.bind(this)" [filePreviews]="filePreviews" [removeFile]="removeFile.bind(this)"/>
  
    <app-direccion [estados]="estados" [codigos]="codigos" />
  
    <app-informacion-adicional [niveles]="nivelesAcademicos" [ingresos]="ingresos" />
  
    <app-extras [onFileChange]="onFileChange.bind(this)" />
  
    <button type="submit">Enviar</button>
  </form>
  
</div>
